POSTGRES_USER=keycloak
POSTGRES_DB=keycloak
POSTGRES_PASSWORD=SUPERsecret

KC_DB=postgres
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=SUPERsecret
KC_DB_URL_HOST=auth-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Pa55w0rd
KC_PROXY=edge
KC_HOSTNAME=stigman.contoso.com
KC_HOSTNAME_ADMIN_URL=https://stigman.contoso.com/kc/

MYSQL_ROOT_PASSWORD=rootpw
MYSQL_USER=stigman
MYSQL_PASSWORD=stigmanpw
MYSQL_DATABASE=stigman

STIGMAN_OIDC_PROVIDER=http://auth:8080/realms/stigman
STIGMAN_CLIENT_OIDC_PROVIDER=https://stigman.contoso.com/realms/stigman  
STIGMAN_CLASSIFICATION=S
STIGMAN_DB_HOST=db
STIGMAN_DB_PASSWORD=stigmanpw
STIGMAN_DB_USER=stigman
STIGMAN_DEV_ALLOW_INSECURE_TOKENS=true