WATCHER_PATH=/watcher/input
WATCHER_MODE=scan
WATCHER_API_BASE=http://stigman:54000/api
WATCHER_AUTHORITY=http://auth:8080/realms/stigman
WATCHER_CLIENT_ID=stigman-watcher
WATCHER_CLIENT_SECRET=YOUR_CLIENT_SECRET
WATCHER_COLLECTION=1